.affix {
    top: 0;
    width: 100%;
}
.affix + .container {
      padding-top: 150px;
}

.navbar {
    z-index: 10;
}

.col-sm-6 {
    padding: 0.5%;
}

#valilehdet {
    margin: 0.2% 0 0 0;
}



h1 {
    display: table-cell;
    vertical-align: middle;
}

#otsikko {
    background-color: #eee;
    border-radius: 6px; 
    display: table;
}

.kuva {
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 4px; 
}

li a:hover:not(.active) {
    background-color: #000000;
    color: white;
    text-decoration: none;
}

.active {
    background-color: #808080;
    color: #000000;
}

.active:hover {
    background-color: #808080;
    color: white;
    text-decoration: none;
}

#about {
    float:right
}

#navi {
    padding: 0.2% 0.5% 0.2% 0.5%;
}


@media only screen and (min-width: 1440px) and (max-width: 2559px) {
    #navi {
        max-width: 1168px;
        margin-left: 9.5%;
    }
}

@media only screen and (min-width: 2560px) {
    #navi {
        max-width: 1168px;
        margin-left: 27.25%;
    }
}

@media only screen and (max-width: 375px) {
    .affix + .container {
        padding-top: 200px;
    }
}

