.affix {
    top: 0;
    width: 100%;
}
.affix + .container {
      padding-top: 150px;
}

.navbar {
    z-index: 10;
}

.slider.slider-horizontal {
    width: 100%;
}

.col-sm-6 {
    padding: 0.5%;
}

#ohje_slider {
    color: #ffffff;
}

#vuosiHaku_valilehdet {
    padding-bottom: 0,1%;
}

#vuosi_haku {
    padding: 0;
    max-width: 150px;
}

#valilehdet {
    padding: 0;
}

h1 {
    display: table-cell;
    vertical-align: middle;
}

#otsikko {
    background-color: #eee;
    border-radius: 6px; 
    display: table;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li {
    float: left;
}

li a {
    margin: 0 10px 0 10px;
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-group-lg>.btn, .btn-lg {
  /* modaali buttoneiden määrityksiä */
    padding: 3px 5px;
    font-size: 14px;
}

li a:hover:not(.active) {
    background-color: #4c4c4c;
    color: white;
    text-decoration: none;
}

.active {
    background-color: #808080;
    color: #000000;
}

.active:hover {
    background-color: #808080;
    color: white;
    text-decoration: none;
}

p {
    display: inline;
}

#modaali {
    float:right;
    margin: 0.1%;
}

#navi {
    padding: 0.2% 0.5% 0.2% 0.5%;
}


@media only screen and (min-width: 1440px) and (max-width: 2559px) {
    #navi {
        max-width: 1168px;
        margin-left: 9.5%;
    }
}

@media only screen and (min-width: 2560px) {
    #navi {
        max-width: 1168px;
        margin-left: 27.25%;
    }
}

@media only screen and (max-width: 375px) {
    .affix + .container {
        padding-top: 200px;
    }
}

/* Sliderin tyylittelyt alkaa tästä */
input[type=range] {
  -webkit-appearance: none;
  margin:8px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
  background: #ffffff;
  border-radius: 2px;
  border: 0.1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
  border: 0.1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #3071a9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
  background: #ffffff;
  border-radius: 2px;
  border: 0.1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
  border: 0.1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #3071a9;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.1px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.1px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.1px 0.1px 0.1px #000000, 0px 0px 0.1px #0d0d0d;
  border: 0.1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #3071a9;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/* Sliderin tyylittelyt loppuu tähän */

input[type=number] {
    text-align: center; 
    background: #ffffff; 
    cursor: text;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input[type=submit] {
    padding: 2px 5px; 
    background: #e7e7e7; 
    cursor: pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
}

input[type=submit]:hover {
    box-shadow: 0 1px 7px 0 #ffffff, 0 1px 2px 0 #ffffff; 
}