.affix {
    top: 0;
    width: 100%;
}
.affix + .container-fluid {
    padding-top: 90px;
}

.navbar {
    z-index: 10;
}

.col-sm-6 {
    padding: 0.5%;
}

#postimerkki {
    padding: 0;
}

/*Otsikon fontin m‰‰ritykset alkaa t‰st‰*/
.h1, h1 {
    font-size: 36px;
}

@media screen and (min-width: 768px) {
    .jumbotron .h1, .jumbotron h1 {
        font-size: 36px;
    }
}

@media screen and (min-width: 799px) {
    .jumbotron .h1, .jumbotron h1 {
        font-size: 50px;
    }
}

@media screen and (min-width: 947px) {
    .jumbotron .h1, .jumbotron h1 {
        font-size: 63px;
    }
}
/*Otsikon fontin m‰‰ritykset loppuu t‰h‰n*/

/*Jumbotronin koon m‰‰ritykset alkaa t‰st‰*/
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 66.5px;
    padding-left: 66.5px;
    border-radius: 6px;
}

.jumbotron {
    padding-top: 62px;
    padding-bottom: 62px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 62px;
        padding-bottom: 62px;
    }
}

@media screen and (min-width: 768px){
    .container .jumbotron, .container-fluid .jumbotron {
        padding-right: 66.5px;
        padding-left: 66.5px;
    }
}

@media screen and (min-width: 786px) {
    .jumbotron {
        padding-top: 55px;
        padding-bottom: 55px;
    }
}

@media screen and (min-width: 786px){
    .container .jumbotron, .container-fluid .jumbotron {
        padding-right: 66.5px;
        padding-left: 66.5px;
    }
}

@media screen and (min-width: 947px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

@media screen and (min-width: 947px) {
    .container .jumbotron, .container-fluid .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }
}
/*Jumbotronin koon m‰‰ritykset loppuu t‰h‰n*/


