{% extends "base.html" %}
{% block nav %}
        <ul>
            <li><a href="/">Faktat</a></li>
            <li><a href="videot">Videot</a></li>
            <li><a href="kuvat">Kuvat</a></li>
            <li id ="about"><a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ohje</a></li>
            <li id ="about"><a class="active" href="about">Tiedot</a></li>
        </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <p>Sivuston tekijät Mikko Kaipainen, Riku Kukkaniemi, Janne Mäyrä, Viivi Teräväinen</p>
        </div>
    </div>
{% endblock %}