<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link type="text/css" href="{{ url_for('static', filename='style.css') }}" />

        <title>Suomen vuosikatsaus</title>

        {% endblock %}
    </head>

    <body>
    <div id="whole_page">
        <div id="top">
            <h1 id="otsikko">SUOMEN VUOSIKATSAUS</h1>
        </div>

        <div id="slider">
            <form action="{{request.base_url}}" method="POST">
                <p>
                <label>Anna vuosi <input type="text" name="year" /></label>
                </p>
                <p>
                <input type="submit" name="laheta" value="Hae" />
                </p>
            </form>
        </div>

        <div id="content">
		<div class="postimerkki"><img src="{{postimerkki_url}}"></div>
		<div class="yle_areena_player" data-id="{{mid}}" data-article="{{url}}"></div><script src="http://player.yle.fi/assets/js/embed.js"></script>
            <table id="table">
                <tr>


                    <td>{{ url }}</td>

                    <td>lehtiartikkeli</td>
                </tr>
                <tr>
                    <td>random kuva</td>
                    <td>sää</td>
                </tr>
            </table>
        </div>

        <div id="footer">
            {% block footer %}
            <p>Mikko Kaipainen, Janne Mäyrä, Riku Kukkaniemi, Viivi Teräväinen from University of Jyväskylä</p>
            {% endblock %}
        </div>
    </div>
    </body>
</html>
