<!DOCTYPE html>
<html lang="en">
<head>
    <title>Suomen vuosikatsaus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // With JQuery
        $("#ex6").slider();
        $("#ex6").on("slide", function(slideEvt) {
            $("#ex6SliderVal").text(slideEvt.value);
        });

        // Without JQuery
        var slider = new Slider("#ex6");
        slider.on("slide", function(slideEvt) {
            $("#ex6SliderVal").text(slideEvt.value);
        });
    </script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body>
<div class="container" id="otsikko" style="height:100px;">
    <h1 class="text-center">SUOMEN VUOSIKATSAUS</h1>
</div>


<div id="navi" class="navbar navbar-inverse" data-spy="affix" data-offset-top="100">
    <div class="col-sm-12">
        <form action="{{ request.base_url }}" method="POST">
            <div class="row" style="color:#FFFFFF;"><p>Vuosi:</p>
                <input type="range" name="year" value="{{ year }}" min="1917" max="2016" oninput="this.form.amountInput.value=this.value"/>
            </div>
            <div class="row">
                <input type="number" name="amountInput" value="{{ year }}" min="1917" max="2016"
                    oninput="this.form.year.value=this.value"/>
                <input type="submit" name="laheta" value="Hae"/>
            </div>
        </form>
    </div>
    {% block nav %}{% endblock %}
</div>


<div class="container">
    <h2>Vuonna {{year}}</h2>
        {% block content %}{% endblock %}
        {% block ohjeModal %}{% endblock %}
</div>
    
</body>
</html>
