<!DOCTYPE html>
<html lang="en">
<head>
    <title>Suomen vuosikatsaus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // With JQuery
        $("#ex6").slider();
        $("#ex6").on("slide", function(slideEvt) {
            $("#ex6SliderVal").text(slideEvt.value);
        });
    </script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body>
<div class="container" id="otsikko" style="height:100px;">
    <h1 class="text-center">SUOMEN VUOSIKATSAUS</h1>
</div>

<div id="navi" class="navbar navbar-inverse" data-spy="affix" data-offset-top="100">
    <div class="col-sm-12">
        <form action="{{ request.base_url }}" method="POST">
            <div class="row" style="color:#FFFFFF;"><p>Vuosi:</p>
                <input type="range" name="year" value="{{ year }}" min="1917" max="2016" oninput="this.form.amountInput.value=this.value"/>
            </div>
            <div class="row">
                <input type="number" name="amountInput" value="{{ year }}" min="1917" max="2016"
                    oninput="this.form.year.value=this.value"/>
                <input type="submit" name="laheta" value="Hae"/>
            </div>
        </form>
    </div>
    <div class="col-sm-12" id="valilehdet">
        {% block nav %}{% endblock %}
    </div>
</div>


<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ohjeita</h4>
            </div>
            <div class="modal-body">
                <p>Tänne voi kirjoittaa, miten sivustoa käytetään :D</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
            </div>
            </div>
            
        </div>
    </div>
    <h2>Vuonna {{year}}</h2>
    {% block content %}{% endblock %}
</div>
    
</body>
</html>
