{% extends "base.html" %}
{% block nav %}
    <ul>
        <li><a class="active" href="/">Faktat</a></li>
        <li><a href="videot">Videot</a></li>
        <li><a href="kuvat">Kuvat</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3>presidenttinä toimi {{presidentin_nimi}}</h3>
            {% if presidentin_kuva == '' %}
                <p>Ei löytynyt presidenttiä hakemaltasi vuodelta :-(</p>
            {% else %}
                <img class="img-responsive" src="{{ presidentin_kuva }}" alt="{{ presidentin_nimi }}" title="{{ presidentin_nimi }}">
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h3>pääministerinä toimi {{paaministeri_nimi}}</h3>
            {% if paaministeri_url == '' %}
                <p>Ei löytynyt pääministeriä hakemaltasi vuodelta :-(</p>
            {% else %}
                <img class="img-responsive" src="{{ paaministeri_url }}" alt="{{ paaministeri_nimi }}" title="{{ paaministeri_nimi }}">
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            
            <div id={{ chartID|safe }} class="chart"></div>

            <script type="text/javascript">
                
                var chart_id = {{ chartID|safe }}
                var series = {{ series|safe }}
                var title = {{ title|safe }}
                var xAxis = {{ xAxis|safe }}
                var yAxis = {{ yAxis|safe }}
                var chart = {{ chart|safe }}
                var plotOptions = {{ plotOptions|safe }}
                var tooltip = {{ tooltip|safe }}
            </script>
                <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
                <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
                <script type="text/javascript" src="../static/main.js" charset="UTF-8"></script>
        </div>
        <div class="col-sm-6">
            
            <div id={{ weatherChartID|safe }} class="chart"></div>

            <script type="text/javascript">
                var weatherchart_id = {{ weatherChartID|safe }}
                var weatherseries = {{ weather_series|safe }}
                var weathertitle = {{ weather_title|safe }}
                var weatherxAxis = {{ weather_xAxis|safe }}
                var weatheryAxis = {{ weather_yAxis|safe }}
                var weatherlegend = {{ weather_legend|safe }}
                var weathertooltip = {{ weather_tooltip|safe }}
                var weatherchart = {{ weatherchart|safe }}
            </script>
                
                <script type="text/javascript" src="../static/weather.js" charset="UTF-8"></script>
                
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <!-- tänne graafeja -->
        </div>
        <div class="col-sm-6">
            <!-- tänne graafeja -->
        </div>
    </div>
{% endblock %}