{% extends "base.html" %}
{% block nav %}
    <ul>
        <li><a href="/">Faktat</a></li>
        <li><a href="videot">Videot</a></li>
        <li><a class="active" href="kuvat">Kuvat</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3>otettiin tällaisia kuvia</h3>
            {% if finna_url == '' %}
                <p> Finnan kanta ei löytänyt vuotta :-(</p>
            {% else %}
                {% for record in finna_record %}
                <div class="col-sm-6"><a href="{{ record }}"><img class="img-responsive" src="{{ finna_kuva[loop.index - 1] }}" alt="{{ finna_title[loop.index - 1] }}" title="{{ finna_source[loop.index - 1] }}&#013;{{ finna_title[loop.index - 1] }}"></a></div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h3>oli tällaisia postimerkkejä</h3>
            {% if postimerkki_url == '' %}
                <p>Ei löytynyt postimerkkiä hakemaltasi vuodelta :-(</p>
            {% else %}
            {% for merkki in postimerkki_urlit %}
                <div class="col-sm-6"><img class="img-responsive" id="postimerkkikuva" src="{{ merkki }}" alt="{{ merkki }}" title="{{ postimerkki_tiedot[loop.index - 1] }}"></div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}