<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pellet voivat olla pelottavia, tämä ei ole.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body>
<div class="container-fluid">
    <div class="jumbotron"><h1>PELLET VOIVAT OLLA JOSKUS PELOTTAVIA, TÄMÄ PELLE EI OLE</h1></div>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <div class="yle_areena_player" data-id="{{ areena_mid }}" data-article="{{ areena_url }}"></div>
    <script type="text/javascript" src="http://player.yle.fi/assets/js/embed.js"></script>
</div>
</body>
</html>
