{% extends "base.html" %}
{% block nav %}
    <ul>
        <li><a href="/">Faktat</a></li>
        <li><a class="active" href="videot">Videot</a></li>
        <li><a href="kuvat">Kuvat</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h3 id="video_otsikko">julkaistiin mm. nämä videot</h3>
    {% for url in areena_url %}
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-16by9">
                {% if areena_mid[0] == '' %}
                    <p>Ei löytynyt videota hakemaltasi vuodelta :-(</p>
                {% else %}
                    <div class="yle_areena_player" data-id="{{ areena_mid[loop.index - 1] }}" data-article="{{ url }}"></div>
                    <script type="text/javascript" src="http://player.yle.fi/assets/js/embed.js"></script>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}